---
import Layout from '../layouts/Layout.astro';
import SiteHeader from '../components/layout/SiteHeader.astro';
import SiteFooter from '../components/layout/SiteFooter.astro';
---

<Layout>
  <SiteHeader />
  <main id="main-content">
    {/* Content sections added in Phase 2 */}
  </main>
  <SiteFooter />
</Layout>
